{% extends "track/base.html" %}

{% block content %}

    <body class="text-center">



    <link href="../../static/track/css/login.css" rel="stylesheet">

    <form method="post" action="{% url 'login' %}" class="form-signin">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>

        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            Your username and password didn't match. Please try again.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}

        <label>Username</label>
        <input id="{{ form.username.id_for_label }}" name="{{ form.username.html_name }}"
               value="{{ form.username.value|default_if_none:"" }}" type="text" class="form-control">

        <label>Password</label>
        <input type="password" id="{{ form.password.id_for_label }}" class="form-control"
               name="{{ form.password.html_name }}" value="{{form.password.value|default_if_none:""}}">


        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>

    </body>
{% endblock %}
