{% extends 'track/base.html' %}

{% block content %}

    <link href="../../static/track/css/login.css" rel="stylesheet">

<body class="text-center">
  <form method="post" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal text-center">Sign up</h1>
      {% csrf_token %}



        <label>Username</label>
        <input name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}" type="text" class="form-control">

        {% include 'errors.html' with errors=form.username.errors %}


        <label>Password confirmation</label>
        <input name="{{ form.password1.html_name }}" value="{{ form.password1.value|default_if_none:"" }}" type="password" class="form-control">

        {% include 'errors.html' with errors=form.password1.errors %}

        <label>Password confirmation</label>
        <input name="{{ form.password2.html_name }}" value="{{ form.password2.value|default_if_none:"" }}" type="password" class="form-control">

        {% include 'errors.html' with errors=form.password2.errors %}

      <br/>
      <button class="btn btn-lg btn-primary btn-block"  type="submit">Sign up</button>
  </form>
</body>
{% endblock %}