{% if errors %}
  <div class="alert alert-danger" role="alert">
    {% for err in errors %}
      {{err}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    {% endfor %}
  </div>
{% endif %}