{% extends 'track/base.html' %}

{% block content %}
    <div class="event">

        {% if request.user != event.user and event.access == "p" %}

            <h1>You have no access to this page.</h1>

        {% else %}

            <h1>{{ event.title }}</h1>
            {% if event.is_planned %}
                <p><strong>Planned</strong></p>
                <p><strong>Start date:</strong> {{event.get_plan_first_date}}</p>
                <p><strong>Period:</strong> {{event.get_plan_period}}</p>
            {% endif %}

            {% if request.user != event.user %}
                <p><strong>User: </strong>{{event.user.get_username}}</p>
            {% endif %}
            {% if not event.is_planned %}
                <p><strong>Date: </strong>{{ event.date }}</p>
            {% endif %}
            <p><strong>Time: </strong>{{ event.time }}</p>
            {% if event.description %}
                <p><strong>Description: </strong>{{ event.description|linebreaksbr }}</p>
            {% endif %}
            <p><strong>Priority: </strong>{{event.get_priority_display}}</p>
            {% if event.group %}
                <strong>Groups: </strong>
                <ul>
                {% for group in event.group.all %}
                    <li>{{group.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}
            <p><strong>Access level: </strong>{{event.get_access_display}}</p>
            <p><strong>Created: </strong>{{event.create_datetime}}</p>
            <p><strong>Edited: </strong>{{event.edit_datetime}}</p>
            <div class="">
                {% if request.user == event.user %}
                    <a href="{% url 'event_delete' pk=event.pk %}">
                        <button class="btn btn-default"><span class="fa fa-remove"></span> Delete</button>
                    </a>
                {% endif %}
                {% if request.user == event.user or event.access == "w" %}
                    {% if event.plan %}
                        <a href="{% url 'event_plan_edit' event_pk=event.pk %}">
                            <button class="btn btn-default"><span class="fa fa-edit"></span> Edit plan</button>
                        </a>
                    {% elif event.plan_days %}
                        <a href="{% url 'event_plan_edit' event_pk=event.pk %}">
                            <button class="btn btn-default"><span class="fa fa-edit"></span> Edit plan</button>
                        </a>
                    {% endif %}
                        <a href="{% url 'event_edit' pk=event.pk %}">
                            <button class="btn btn-default"><span class="fa fa-edit"></span> Edit event</button>
                        </a>
                {% endif %}
            </div>

        {% endif %}

    </div>
{% endblock %}
