{% extends 'track/base.html' %}


{% block content %}
    <h1>Delete event?</h1>
    <p>Are you sure you want to delete '{{object.title}}'?</p>
    <form method="POST" action="" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="">
            <a href="{% url 'event_detail' pk=object.pk %}">
                <button type="button" class="btn btn-secondary">Cancel</button>
            </a>
            <button type="submit" class="btn btn-primary"><span class="fa fa-remove"></span> Delete</button>
        </div>
    </form>
{% endblock %}