<div class="event">
    <h4><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></h4>
    <div class="form-row">
        {% if with_date %}
        <p style="margin-left: 5px; margin-right: 5px;">{{event.date}},</p>
        {% endif %}
        <time style="margin-left: 5px">{{ event.time }}</time>
    </div>
</div>
<hr/>