{% extends 'track/base.html' %}

{% block content %}
    {% if not groups %}
        <h2>All groups are empty! Click <a href="{% url 'group_new' %}">here</a> to create new.</h2>

    {% else %}
        <h2>Your groups:</h2>
    {% endif %}

    <br/>
    {% for group in groups %}
        <a href="{% url 'events_group' pk=group.pk %}" type="button" class="btn btn-primary btn-lg">{{group.name}}</a>
    {% endfor %}
{% endblock %}