{% extends 'track/base.html' %}


{% block content %}
    <h1>New event plan</h1>
    <form method="POST" class="post-form" style="margin-right: 500px">{% csrf_token %}
        <div class="form-group">
            {{ plan_form.as_p }}
            {{ event_form.as_p }}
            <div class="">
                <a href="{% url 'today_list' %}">
                    <button type="button" class="btn btn-secondary">Back</button>
                </a>
                <button type="submit" class="save btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}