{% extends 'track/base.html' %}


{% block content %}

    <form method="POST" class="post-form" style="margin-right: 500px">{% csrf_token %}

        <h3>Edit event</h3>
        <div class="form-group">
            {{ event_form.as_p }}
            <div class="">
                <a href="{% url 'event_detail' pk=event_pk %}">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </a>
                <button type="submit" class="save btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}