{% extends 'track/base.html' %}


{% block content %}
    <h3>Events</h3>

     <br/>
     <form action="" method="get">
         <div >
             {{date_form.as_p}}
             {{ filter.form.as_p }}
             <button type="submit" class="btn btn-success" ><span class="fa fa-search"></span> Find events!</button>
             <a href="{% url 'event_new' %}" type="button" class="btn btn-primary">
                 <span class="fa fa-plus"></span> Add new event</a>
         </div>
     </form>

     <hr/>

     {% if not filter.qs %}
         <p>Nothing found.</p>
     {% endif %}

     {% for event in filter.qs %}
         {% include 'event_short.html' with event=event with_date=True %}
         <hr/>
     {% endfor %}

{% endblock %}