{% extends 'track/base.html' %}


{% block content %}
    <h1>Create new group</h1>
    <form method="POST" action="" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="">
            <a href="{% url 'today_list' %}">
                <button type="button" class="btn btn-secondary">Cancel</button>
            </a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>

    <hr/>
    {% if groups %}
        <h3>Your groups:</h3>
    {% endif %}
    <ul>
    {% for g in groups %}
        <li style="margin-top: 20px">{{g.name}}</li>
    {% endfor %}
    </ul>
{% endblock %}