{% extends 'track/base.html' %}


{% block content %}

    <h3>Events</h3>
    <br/>
    <form action="" method="GET">
        {{date_form.as_p}}
        <button type="submit" class="btn btn-success"><span class="fa fa-search"></span> Find events!</button>
    </form>

    <hr/>

    {% if not events and not planned_events %}
        <p>Nothing found.</p>
    {% endif %}

    {% for event in events %}
        {% include 'event_short.html' with event=event with_date=True%}
    {% endfor %}

{% endblock %}