{% extends 'track/base.html' %}


{% block content %}

    <h3>Event plans</h3>
    <br/>
    <form action="" method="get">
        <div >
            {{ filter.form.as_p }}
            <button type="submit" class="btn btn-success"><span class="fa fa-search"></span> Find plans!</button>
            <a href="{% url 'event_plan_new' %}" type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span> Add new event plan</a>
            <a href="{% url 'event_plan_days_new' %}" type="button" class="btn btn-primary">
                <span class="fa fa-plus"></span> Add new event plan days</a>
        </div>
    </form>

    <hr/>

    {% if not filter.qs %}
        <p>Nothing found.</p>
    {% endif %}

    {% for event in filter.qs %}
        {% include 'plan_event_short.html' with event=event %}
        <hr/>
    {% endfor %}

{% endblock %}