<div class="event">
    <h4><a href="{% url 'event_detail' pk=event.pk %}">{{ event.title }}</a></h4>
    <time>{{ event.time }}</time>
    <p>Start date: {{event.get_plan_first_date}}. Period: {{event.get_plan_period}}</p>
</div>
<hr/>