{% extends 'track/base.html' %}


{% block content %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    <form method="POST" class="post-form"  style="margin-right: 500px">{% csrf_token %}
        <h1>Edit task</h1>
        <div class="form-group">
            {{ form.as_p }}

            {% if task.status == "a" and user == task.user %}
            <a href="{% url 'subtask_new' pk=task.pk%}">
                <button type="button" class="btn btn-default" style="margin-bottom: 20px">
                    <span class="glyphicon glyphicon-plus"></span> Add subtask
                </button>
            </a>
            {% endif %}

            <div class="">
                <a href="{% url 'task_detail' pk=task_pk %}">
                    <button type="button" class="btn btn-secondary">Cancel</button>
                </a>
                <button type="submit" class="save btn btn-primary">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
