{% extends 'track/base.html' %}


{% block content %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    <h1>Task is done?</h1>
    <p>Mark task as ready?</p>
    <form method="POST" action="" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <div class="">
            <a href="{% url 'today_list' %}">
                <button type="button" class="btn btn-secondary">Cansel</button>
            </a>
            <button type="submit" class="btn btn-primary"><span class="fa fa-check"></span> Done!</button>
        </div>
    </form>
{% endblock %}