{% extends 'track/base.html' %}
{% load widget_tweaks %}

{% block content %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    <h3>Tasks</h3>
    <br/>

    <form action="" method="get">
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-success"><span class="fa fa-search"></span> Find tasks!</button>
        <a href="{% url 'task_new' %}" type="button" class="btn btn-primary">
            <span class="fa fa-plus"></span> Add new task</a>
    </form>

    <hr/>

    {% if not filter.qs %}
        <p>Nothing found.</p>
    {% endif %}

    {% for task in filter.qs %}
        {% include 'task_short.html' with task=task %}
        <hr/>
    {% endfor %}
{% endblock %}