<div class="alert alert-danger" role="alert">
  Tasks {{failed_tasks}} are failed!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr/>