<div class="alert alert-success" role="alert">
  Tasks {{ready_tasks}} are ready!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<hr/>