{% extends 'track/base.html' %}

{% block content %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    {% if not groups %}
        <h2>All groups are empty! Click <a href="{% url 'group_new' %}">here</a> to create new.</h2>
    {% else %}
        <h2>Your groups:</h2>
    {% endif %}

     <br/>
    {% for group in groups %}
        <a href="{% url 'tasks_group' pk=group.pk %}" type="button" class="btn btn-primary btn-lg">{{group.name}}</a>
    {% endfor %}
{% endblock %}