{% extends 'track/base.html' %}

{% block content %}

    {% if ready_tasks %}
        {% include 'tasks_ready.html' with ready_tasks=ready_tasks %}
    {% endif %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    <div class="task">

        {% if request.user != task.user and task.access == "p" %}

            <h1>You have no access to this page.</h1>

        {% else %}

            <h1>{{ task.title }}</h1>

            {% if request.user != task.user %}
                <p><strong>User: </strong>{{task.user.get_username}}</p>
            {% endif %}

            {% if task.parent_task %}
                <p><strong>Parent task: </strong>
                    {% if task.parent_task.user == request.user or task.parent_task.access != "p" %}
                        <a href="{% url 'task_detail' pk=task.parent_task.id %}">{{task.parent_task.title}}</a></p>
                    {% else %}
                        {{task.parent_task.title}}
                    {% endif %}
            {% endif %}

            <p style="color: {{task.get_status_style_color}};"><strong>Status: </strong>{{task.get_status_display}}</p>

            {% if task.deadline_date %}
                <div class="date">
                    <p><strong>Deadline: </strong>{{ task.deadline_date }}</p>
                </div>
            {% endif %}

            {% if task.description %}
                <p><strong>Description: </strong>{{ task.description|linebreaksbr }}</p>
            {% endif %}

            <p><strong>Priority: </strong>{{task.get_priority_display}}</p>

            {% if task.related_tasks %}
                <p><strong>Related tasks: </strong>{{task.related_tasks}}</p>
            {% endif %}

            {% if task.group %}
                <strong>Groups: </strong>
                <ul>
                {% for group in task.group.all %}
                    <li>{{group.name}}</li>
                {% endfor %}
                </ul>
            {% endif %}

            <p><strong>Access level: </strong>{{task.get_access_display}}</p>
            <p><strong>Created: </strong>{{task.create_datetime}}</p>
            <p><strong>Edited: </strong>{{task.edit_datetime}}</p>

            {% if task.get_subtasks %}
                <strong>Subtasks:</strong>
                <div class="">
                    {% for sub in task.get_subtasks %}
                        {% if sub.user == request.user or sub.access != "p" %}
                            <a class="dropdown-item" style="color: {{sub.get_status_style_color}};" href="{% url 'task_detail' pk=sub.pk %}">{{sub.title}}</a>
                        {% else %}
                            {{sub.title}}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}

            <br/>
            <div class="" >
                {% if request.user == task.user %}
                    <a href="{% url 'task_delete' pk=task.pk %}">
                        <button class="btn btn-default"><span class="fa fa-remove"></span> Delete</button>
                    </a>
                {% endif %}
                {% if request.user == task.user or task.access == "w" %}
                    <a href="{% url 'task_edit' pk=task.pk %}">
                        <button class="btn btn-default"><span class="fa fa-edit"></span> Edit</button>
                    </a>
                {% endif %}
                {% if task.status == "a" and request.user == task.user %}
                    <a href="{% url 'task_done' pk=task.pk %}">
                        <button class="btn btn-default"><span class="fa fa-check"></span> Done!</button>
                    </a>
                {% endif %}
            </div>

        {% endif %}

    </div>
{% endblock %}
