{% extends 'track/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>New task</h1>
    <form method="POST" style="margin-right: 500px">{% csrf_token %}
        <div class="form-group">

            {{ form }}

            <a href="javascript:history.back()">
                <button type="button" class="btn btn-secondary">Back</button>
            </a>
            <button type="submit" class="save btn btn-primary">Save</button>
        </div>
    </form>
{% endblock %}
