<div class="task">
    <div class="form-check mb-2 mr-sm-2">
        <h4><a href="{% url 'task_detail' pk=task.pk %}" >{{ task.title }}</a></h4>
        <p>{{ task.description|linebreaksbr }}</p>
        {% if task.status == "a" and request.user == task.user %}
            <a href="{% url 'task_done' pk=task.pk %}" >
                <button class="btn btn-success">
                    <span class="fa fa-check">Do it!</span>
                </button>
            </a>
        {% else %}
            <p style="color: {{task.get_status_style_color}};">Status: {{task.get_status_display}}</p>
        {% endif %}
    </div>
</div>
<hr/>