{% extends 'track/base.html' %}

{% block content %}

    {% if failed_tasks %}
        {% include 'tasks_failed.html' with failed_tasks=failed_tasks %}
    {% endif %}

    <!--Tasks with deadline-->
    <form class="form-inline">
        {% if not tasks %}
            <h2>No tasks for today!</h2>

        {% else %}
            <h2>Tasks for today</h2>
        {% endif %}

        <a href="{% url 'task_new' %}" style="margin-left: 20px;">
                <span class="fa fa-plus"></span> Add new
        </a>
    </form>

    {% for task in tasks %}
        {% include 'task_short.html' with task=task %}
    {% endfor %}


    <!--Events-->

    <hr/>
    <form class="form-inline">
        {% if not events %}
            <h2 style="margin-right: 20px;">No events for today!</h2>

        {% else %}
            <h2>Events for today</h2>
        {% endif %}

        <a href="{% url 'event_new' %}" style="margin-left: 20px;">
            <span class="fa fa-plus"></span> Add new
        </a>
    </form>

    {% for event in events %}
        {% include 'event_short.html' with event=event %}
    {% endfor %}

    <!--Plans-->

    <hr/>
    {% if plans %}
        <h2>Plans for today</h2>
    {% endif %}

    {% for event in plans %}
        {% include 'plan_event_short.html' with event=event %}
    {% endfor %}

    <!--Tasks without deadline-->

    <hr/>
    {% if tasks_without_deadline %}
        <h2>Tasks without deadline</h2>

        {% for task in tasks_without_deadline %}
            {% include 'task_short.html' with task=task %}
        {% endfor %}
    {% endif %}
{% endblock %}